In [33]:
import numpy as np
import pandas as pd
import pickle
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [34]:
#read the file 
df1=pd.read_csv("cardio_train.csv")
df1.head()

  id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
0            988;22469;1;155;69.0;130;80;2;2;0;0;1;0
1            989;14648;1;163;71.0;110;70;1;1;0;0;1;1
2            990;21901;1;165;70.0;120;80;1;1;0;0;1;0
3            991;14549;2;165;85.0;120;80;1;1;1;1;1;0
4            992;23393;1;155;62.0;120;80;1;1;0;0;1;0

In [35]:
 df1=df1.iloc[:,0].str.split(';', expand=True)

In [36]:
df1.head()

     0      1  2    3     4    5   6  7  8  9 10 11 12
0  988  22469  1  155  69.0  130  80  2  2  0  0  1  0
1  989  14648  1  163  71.0  110  70  1  1  0  0  1  1
2  990  21901  1  165  70.0  120  80  1  1  0  0  1  0
3  991  14549  2  165  85.0  120  80  1  1  1  1  1  0
4  992  23393  1  155  62.0  120  80  1  1  0  0  1  0

In [37]:
cols =['id','age','gender','height','weight','ap_hi','ap_lo','cholesterol','gluc','smoke','alco','active','cardio']

In [38]:
df1.columns = cols

In [39]:
df1.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0

In [40]:

profile=pandas_profiling.ProfileReport(df1)

HBox(children=(IntProgress(value=0, description='variables', max=13, style=ProgressStyle(description_width='in…

HBox(children=(IntProgress(value=0, description='correlations', max=6, style=ProgressStyle(description_width='…

HBox(children=(IntProgress(value=1, bar_style='info', description='interactions [continuous]', max=1, style=Pr…

HBox(children=(IntProgress(value=0, description='table', max=1, style=ProgressStyle(description_width='initial…

HBox(children=(IntProgress(value=0, description='missing', max=2, style=ProgressStyle(description_width='initi…

HBox(children=(IntProgress(value=0, description='warnings', max=3, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='package', max=1, style=ProgressStyle(description_width='initi…

HBox(children=(IntProgress(value=0, description='build report structure', max=1, style=ProgressStyle(descripti…

In [41]:
profile.to_file("profileoutputafterfile.html")

In [42]:
X = df1.drop(['id','cardio'],axis = 1)

In [43]:
X = X.astype('float32')

In [44]:
X.shape

(69301, 11)

In [45]:
Y=df1['cardio']

In [46]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(55440, 11)
(13861, 11)
(55440,)
(13861,)

In [47]:
####
clf_rfc =RandomForestClassifier(random_state=42)

In [48]:
clf_rfc.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [49]:
y_train_predict_rfc = clf_rfc.predict(X_train)

In [61]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_train, y_train_predict_rfc)
score

0.9997655122655122

In [51]:
X_train

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
30314,23135.0,1.0,150.0,70.0,120.0,80.0,2.0,2.0,0.0,0.0,1.0
29640,21235.0,1.0,167.0,70.0,110.0,70.0,1.0,1.0,0.0,0.0,1.0
55269,18094.0,1.0,160.0,60.0,120.0,80.0,1.0,1.0,0.0,0.0,0.0
22331,23224.0,1.0,172.0,73.0,120.0,80.0,1.0,3.0,0.0,0.0,1.0
25999,18088.0,2.0,180.0,90.0,180.0,100.0,2.0,2.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
59465,16858.0,2.0,165.0,63.0,120.0,80.0,1.0,1.0,1.0,0.0,1.0
5520,10878.0,1.0,175.0,59.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0
20463,20377.0,2.0,168.0,68.0,140.0,80.0,2.0,1.0,0.0,0.0,1.0
18638,17374.0,1.0,162.0,62.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0
35683,23308.0,1.0,164.0,112.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0

In [52]:
despred = pd.DataFrame({ "actual": Y_train, "pred": y_train_predict_rfc })
despred

      actual pred
30314      1    1
29640      0    0
55269      0    0
22331      0    0
25999      1    1
...      ...  ...
59465      0    0
5520       0    0
20463      1    1
18638      0    0
35683      1    1

[55440 rows x 2 columns]

In [53]:
row1=[14648,1,163,71.0,110,70,1,1,0,0,1]

In [54]:
ypred = clf_rfc.predict([row1])
print('Predicted: %s ' % (ypred))

Predicted: ['0']

In [55]:
row2 =[23308.0,1.0,164.0,112.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0]

In [56]:
ypred2 = clf_rfc.predict([row2])
print('Predicted: %s ' % (ypred2))

Predicted: ['1']

In [57]:
filename = 'CardiovascularDisease_model.pkl'

In [58]:
pickle.dump(clf_rfc, open(filename, 'wb'))

In [59]:
model_hs = pickle.load(open(filename, 'rb'))

In [60]:
accuracy = model_hs.score(X_test, Y_test)
print(accuracy*100, '%')

71.82742947839262 %